[run]
cover_pylib = False
branch = True
source = .
omit = */__init__.py
       */migrations/*
       functional_tests/*
       */tests/*

[report]
show_missing = True
skip_covered = True
omit = */__init__.py
       */migrations/*
       functional_tests/*
       */tests/*
