{% load static %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="description" content="Simple web apps to record cashflow." />
    <meta name="keywords" content="cash management" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" media="screen" />
</head>
<body>

<div id="header">
    <h1>Cashflow</h1>
    <h2>Help you manage your cash</h2>

    <ul>
        <li><a href="{% url 'home' %}" class="active">Dashboard <span>Menu</span></a></li>
        <li><a href="{% url 'cash:index' %}">Cash <span>Management</span></a></li>
    </ul>
    {% if messages %}
        {% block displayed_messages %}<p id="layoutdims"></p>{% endblock %}
    {% endif %}

</div>
<div class="colmask rightmenu">
    <div class="colleft">
        <div class="col1">
            <!-- Column 1 start -->
            <h2>{% block content_header %}Dashboard{% endblock %}</h2>
            <h3>{% block content_subheader %}Cash summary{% endblock %}</h3>
            <!-- Column 1 end -->
        </div>
        <div class="col2">
            <!-- Column 2 start -->
            <h2>Dashboard menu</h2>
            <ul>
                <li>Logout</li>
            </ul>
            <!-- Column 2 end -->
        </div>
    </div>
</div>
<div id="footer">
    <p>This page uses the <a href="http://matthewjamestaylor.com/blog/perfect-2-column-right-menu.htm">Perfect 'Right Menu' 2 Column Liquid Layout</a> by <a href="http://matthewjamestaylor.com">Matthew James Taylor</a>. View more <a href="http://matthewjamestaylor.com/blog/-website-layouts">website layouts</a> and <a href="http://matthewjamestaylor.com/blog/-web-design">web design articles</a>.</p>
</div>

</body>
</html>
